.divG{
    background-color: #1ABC9C;
    padding: 25px;    

}
.div3{
    color: white;
    
}

.div2{

    background-color: #9B59B6;
    
}

body{
    background-color: rgb(211, 255, 240);
    text-align: center;
}
.divH{
    border: white 2px dashed;
    font-size: 25px;
    text-align: center;
}

.div4{
    margin-left: 10%;
    margin-right: 10%;
    border: red 2px dashed;
    padding: 2px;
    text-align: left;
    color: black;
    background-color: #00FFFF;
}
.tabla{
    text-align: center;
    border: white 2px solid;
    width: 100%;
}

.tabla2{
    width: 100%;
    
}

.c1{

    width: 10%;
    border: white 3px solid;
    font-size: 25px;
}

.c2{

    width: 90%;
    border: white 3px solid;
    text-align: center;
    font-size: 25px;
    
}

.datos{
    background-color: rgb(194, 255, 255);
    color: rgb(63, 8, 0);
    text-align: center;
    padding: 10px;
    border: white 2px solid;
}