@font-face {
    font-family: fuenteJulio;
    src: url(varsity_regular.ttf);
}

body{
    /*background-color: rgb(255, 174, 174);*/
    background-image: url(otp2.jpg);
    
    font-family: sans-serif;
    padding: 5em;
}

.fondoimagen{
    background-image: url(aunHayMasXD.jpg);
    background-repeat: no-repeat;
    text-align: center;
    background-size: 10rem;
    padding: 25px;
}

img{
    width: 80%;
    align-self: center;
    
}

.fondoblanco{
    background-color: white;
}

.fondoazul{
    background-color: rgb(68, 222, 228);
}

.fondonegro{
    background-color: black;
}

.texto1{
    text-align: center;
    font-size: 4.5em;
    color: darkgray;
}

.texto2{
    font-size: 30px;
    color: white;
    text-align: center;

}

.texto3{
    font-size: 15px;
    text-align: center;
    color: white;
    
}

.texto4{
    font-size: 20px;
    color: white;
    text-align: left;
    font-family: fuenteJulio;
}


.bordeblanco{
    border: 20px solid white;
    border-radius: 20px;
}

